/* src/components/Footer.css */
.footer__container,
.footer__container * {
  box-sizing: border-box;
}
.footer__container {
  background: var(--material-theme-ref-primary-primary10, #001944);
  padding: 80px 120px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.footer__logo-section {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: flex-start;
  width: 232px;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo-image {
  width: 48px;
  height: 48px;
}
.footer__logo-text {
  color: var(--material-theme-color-roles-on-primary, #ffffff);
  font-family: "Roboto-Bold", sans-serif;
  font-size: 37.71px;
  line-height: 48px;
  font-weight: 700;
}
.footer__social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__social-media-title {
  color: var(--material-theme-color-roles-on-primary, #ffffff);
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
}
.footer__social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 144px;
}
.footer__social-icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.footer__facebook-icon {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer__quick-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}
.footer__quick-links-title,
.footer__legal-title {
  color: var(--material-theme-color-roles-on-primary, #ffffff);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
}
.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__link-item {
  color: var(--material-theme-color-roles-primary-container, #d9e2ff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
}
.footer__legal-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__newsletter-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 290px;
}
.footer__newsletter-label {
  color: var(--material-theme-color-roles-on-primary, #ffffff);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
}
.footer__email-input-container {
  border-radius: 8px;
  border: 1px solid var(--material-theme-color-roles-outline-variant, #f5f5f5);
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer__email-input {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
}
.footer__email-placeholder {
  color: var(--material-theme-key-colors-neutral, #938f96);
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
}
.footer__email-icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.footer__subscribe-button {
  background: var(--material-theme-key-colors-primary, #3b5284);
  border-radius: 8px;
  padding: 10px 24px;
  display: flex;
  justify-content: center;
}
.footer__button-text {
  color: var(--material-theme-color-roles-on-primary, #ffffff);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
}