.frame-1707478732 {
    padding: 20px;
  }
  
  .how-care-way-works {
    font-size: 24px;
    font-weight: bold;
  }
  
  .how-careway-works-card {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  .frame-1707478732,
.frame-1707478732 * {
  box-sizing: border-box;
}
.frame-1707478732 {
  padding: 80px 120px 80px 120px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.how-care-way-works {
  text-align: center;
  font-family: var(
    --medium-variant-display-display-small-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--medium-variant-display-display-small-font-size, 36px);
  line-height: var(--medium-variant-display-display-small-line-height, 44px);
  font-weight: var(--medium-variant-display-display-small-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.how-care-way-works-span {
  color: var(--material-theme-color-roles-on-surface, #1a1b1f);
  font-family: var(
    --medium-variant-display-display-small-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--medium-variant-display-display-small-font-size, 36px);
  line-height: var(--medium-variant-display-display-small-line-height, 44px);
  font-weight: var(--medium-variant-display-display-small-font-weight, 500);
}
.how-care-way-works-span2 {
  color: var(--material-theme-key-colors-primary, #3b5284);
  font-family: var(
    --medium-variant-display-display-small-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--medium-variant-display-display-small-font-size, 36px);
  line-height: var(--medium-variant-display-display-small-line-height, 44px);
  font-weight: var(--medium-variant-display-display-small-font-weight, 500);
}
.how-care-way-works-span3 {
  color: var(--material-theme-key-colors-secondary, #5ba8a0);
  font-family: var(
    --medium-variant-display-display-small-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--medium-variant-display-display-small-font-size, 36px);
  line-height: var(--medium-variant-display-display-small-line-height, 44px);
  font-weight: var(--medium-variant-display-display-small-font-weight, 500);
}
.how-care-way-works-span4 {
  color: var(--material-theme-color-roles-on-surface, #1a1b1f);
  font-family: var(
    --medium-variant-display-display-small-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--medium-variant-display-display-small-font-size, 36px);
  line-height: var(--medium-variant-display-display-small-line-height, 44px);
  font-weight: var(--medium-variant-display-display-small-font-weight, 500);
}
.frame-1707478731 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.how-careway-works-card {
  border-radius: 16px;
  border-style: solid;
  border-color: var(--material-theme-color-roles-outline-variant, #f5f5f5);
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-1707478721 {
  background: var(--material-theme-color-roles-primary-container, #d9e2ff);
  border-radius: 300px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.maps-location-01 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.frame-32 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.search-providers {
  color: var(--material-theme-color-roles-on-surface, #1a1b1f);
  text-align: center;
  font-family: var(--headline-18px-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--headline-18px-font-size, 18px);
  letter-spacing: var(--headline-18px-letter-spacing, 0.0015em);
  font-weight: var(--headline-18px-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.find-healthcare-providers-by-location-specialization-or-fees {
  color: var(--material-theme-color-roles-on-surface-variant, #44464f);
  text-align: center;
  font-family: var(
    --regular-variant-body-body-medium-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--regular-variant-body-body-medium-font-size, 14px);
  line-height: var(--regular-variant-body-body-medium-line-height, 20px);
  letter-spacing: var(
    --regular-variant-body-body-medium-letter-spacing,
    0.0025em
  );
  font-weight: var(--regular-variant-body-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.user {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.appointment-01 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.heart-check {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.how-care-way-works-span {
  margin-right: 8px; /* Adjust the value as needed */
}

.how-care-way-works-span2 {
  margin-right: 0px; /* Adjust the value as needed */
}

.how-care-way-works-span3 {
  margin-right: 8px; /* No margin on the last word */
}