/* Figma Styles of your File */:root {
  /* Colors */
  --material-theme-key-colors-primary: #3b5284;
  --material-theme-key-colors-secondary: #5ba8a0;
  --material-theme-key-colors-tertiary: #cbe54e;
  --material-theme-key-colors-error: #e74c3c;
  --material-theme-key-colors-neutral: #938f96;
  --material-theme-key-colors-neutral-variant: #938f99;
  --material-theme-color-roles-primary: #3b5284;
  --material-theme-color-roles-surface-tint: #475d90;
  --material-theme-color-roles-on-primary: #ffffff;
  --material-theme-color-roles-primary-container: #d9e2ff;
  --material-theme-color-roles-on-primary-container: #001944;
  --material-theme-color-roles-secondary: #5ba8a0;
  --material-theme-color-roles-on-secondary: #ffffff;
  --material-theme-color-roles-secondary-container: #a3f1e8;
  --material-theme-color-roles-on-secondary-container: #00201d;
  --material-theme-color-roles-tertiary: #cbe54e;
  --material-theme-color-roles-on-tertiary: #ffffff;
  --material-theme-color-roles-tertiary-container: #dbeb8e;
  --material-theme-color-roles-on-tertiary-container: #181e00;
  --material-theme-color-roles-error: #e74c3c;
  --material-theme-color-roles-on-error: #ffffff;
  --material-theme-color-roles-error-container: #ffdad5;
  --material-theme-color-roles-on-error-container: #410000;
  --material-theme-color-roles-background: #faf8fd;
  --material-theme-color-roles-on-background: #1a1b1f;
  --material-theme-color-roles-surface: #faf8fd;
  --material-theme-color-roles-on-surface: #1a1b1f;
  --material-theme-color-roles-surface-variant: #e1e2ed;
  --material-theme-color-roles-on-surface-variant: #44464f;
  --material-theme-color-roles-outline: #757780;
  --material-theme-color-roles-outline-variant: #f5f5f5;
  --material-theme-color-roles-shadow: #000000;
  --material-theme-color-roles-scrim: #000000;
  --material-theme-color-roles-inverse-surface: #2f3034;
  --material-theme-color-roles-inverse-on-surface: #f2f0f5;
  --material-theme-color-roles-inverse-primary: #afc6ff;
  --material-theme-color-roles-primary-fixed: #d9e2ff;
  --material-theme-color-roles-on-primary-fixed: #001944;
  --material-theme-color-roles-primary-fixed-dim: #afc6ff;
  --material-theme-color-roles-on-primary-fixed-variant: #2e4677;
  --material-theme-color-roles-secondary-fixed: #a3f1e8;
  --material-theme-color-roles-on-secondary-fixed: #00201d;
  --material-theme-color-roles-secondary-fixed-dim: #87d4cb;
  --material-theme-color-roles-on-secondary-fixed-variant: #00504b;
  --material-theme-color-roles-tertiary-fixed: #d4ef57;
  --material-theme-color-roles-on-tertiary-fixed: #181e00;
  --material-theme-color-roles-tertiary-fixed-dim: #b9d23c;
  --material-theme-color-roles-on-tertiary-fixed-variant: #404c00;
  --material-theme-color-roles-surface-dim: #dbd9de;
  --material-theme-color-roles-surface-bright: #faf8fd;
  --material-theme-color-roles-surface-container-lowest: #ffffff;
  --material-theme-color-roles-surface-container-low: #f4f3f8;
  --material-theme-color-roles-surface-container: #efedf2;
  --material-theme-color-roles-surface-container-high: #e9e7ec;
  --material-theme-color-roles-surface-container-highest: #e3e2e7;
  --material-theme-ref-primary-primary100: #ffffff;
  --material-theme-ref-primary-primary99: #fefbff;
  --material-theme-ref-primary-primary98: #faf8ff;
  --material-theme-ref-primary-primary95: #edf0ff;
  --material-theme-ref-primary-primary90: #d9e2ff;
  --material-theme-ref-primary-primary80: #afc6ff;
  --material-theme-ref-primary-primary70: #94abe2;
  --material-theme-ref-primary-primary60: #7990c6;
  --material-theme-ref-primary-primary50: #6076ab;
  --material-theme-ref-primary-primary40: #475d90;
  --material-theme-ref-primary-primary35: #3a5183;
  --material-theme-ref-primary-primary30: #2e4677;
  --material-theme-ref-primary-primary25: #223a6b;
  --material-theme-ref-primary-primary20: #152f5f;
  --material-theme-ref-primary-primary15: #062454;
  --material-theme-ref-primary-primary10: #001944;
  --material-theme-ref-primary-primary5: #000f2f;
  --material-theme-ref-primary-primary0: #000000;
  --material-theme-ref-secondary-secondary100: #ffffff;
  --material-theme-ref-secondary-secondary99: #f2fffc;
  --material-theme-ref-secondary-secondary98: #e4fffa;
  --material-theme-ref-secondary-secondary95: #b2fff6;
  --material-theme-ref-secondary-secondary90: #a3f1e8;
  --material-theme-ref-secondary-secondary80: #87d4cb;
  --material-theme-ref-secondary-secondary70: #6cb8b0;
  --material-theme-ref-secondary-secondary60: #509d96;
  --material-theme-ref-secondary-secondary50: #33837c;
  --material-theme-ref-secondary-secondary40: #0e6a63;
  --material-theme-ref-secondary-secondary35: #005d57;
  --material-theme-ref-secondary-secondary30: #00504b;
  --material-theme-ref-secondary-secondary25: #00433f;
  --material-theme-ref-secondary-secondary20: #003733;
  --material-theme-ref-secondary-secondary15: #002b28;
  --material-theme-ref-secondary-secondary10: #00201d;
  --material-theme-ref-secondary-secondary5: #001412;
  --material-theme-ref-secondary-secondary0: #000000;
  --material-theme-ref-tertiary-tertiary100: #ffffff;
  --material-theme-ref-tertiary-tertiary99: #fcffde;
  --material-theme-ref-tertiary-tertiary98: #f6ffc2;
  --material-theme-ref-tertiary-tertiary95: #e9f99b;
  --material-theme-ref-tertiary-tertiary90: #dbeb8e;
  --material-theme-ref-tertiary-tertiary80: #b9d23c;
  --material-theme-ref-tertiary-tertiary70: #9eb61f;
  --material-theme-ref-tertiary-tertiary60: #849a00;
  --material-theme-ref-tertiary-tertiary50: #6d7f00;
  --material-theme-ref-tertiary-tertiary40: #566500;
  --material-theme-ref-tertiary-tertiary35: #4b5800;
  --material-theme-ref-tertiary-tertiary30: #404c00;
  --material-theme-ref-tertiary-tertiary25: #364000;
  --material-theme-ref-tertiary-tertiary20: #2c3400;
  --material-theme-ref-tertiary-tertiary15: #222900;
  --material-theme-ref-tertiary-tertiary10: #181e00;
  --material-theme-ref-tertiary-tertiary5: #0e1300;
  --material-theme-ref-tertiary-tertiary0: #000000;
  --material-theme-ref-error-error100: #ffffff;
  --material-theme-ref-error-error99: #fffbff;
  --material-theme-ref-error-error98: #fff8f7;
  --material-theme-ref-error-error95: #ffedea;
  --material-theme-ref-error-error90: #ffdad5;
  --material-theme-ref-error-error80: #ffb4a9;
  --material-theme-ref-error-error70: #ff8a7a;
  --material-theme-ref-error-error60: #fa5a48;
  --material-theme-ref-error-error50: #d74132;
  --material-theme-ref-error-error40: #b4271d;
  --material-theme-ref-error-error35: #a31912;
  --material-theme-ref-error-error30: #910807;
  --material-theme-ref-error-error25: #7e0002;
  --material-theme-ref-error-error20: #690001;
  --material-theme-ref-error-error15: #540001;
  --material-theme-ref-error-error10: #410000;
  --material-theme-ref-error-error5: #2d0000;
  --material-theme-ref-error-error0: #000000;
  --material-theme-ref-neutral-neutral100: #ffffff;
  --material-theme-ref-neutral-neutral99: #fefbfe;
  --material-theme-ref-neutral-neutral98: #fbf8fb;
  --material-theme-ref-neutral-neutral95: #f2f0f3;
  --material-theme-ref-neutral-neutral90: #e4e2e4;
  --material-theme-ref-neutral-neutral80: #c8c6c8;
  --material-theme-ref-neutral-neutral70: #acabad;
  --material-theme-ref-neutral-neutral60: #919093;
  --material-theme-ref-neutral-neutral50: #777779;
  --material-theme-ref-neutral-neutral40: #5e5e60;
  --material-theme-ref-neutral-neutral35: #525255;
  --material-theme-ref-neutral-neutral30: #474649;
  --material-theme-ref-neutral-neutral25: #3b3b3d;
  --material-theme-ref-neutral-neutral20: #303032;
  --material-theme-ref-neutral-neutral15: #252628;
  --material-theme-ref-neutral-neutral10: #1b1b1e;
  --material-theme-ref-neutral-neutral5: #101113;
  --material-theme-ref-neutral-neutral0: #000000;
  --material-theme-ref-neutral-variant-neutral-variant100: #ffffff;
  --material-theme-ref-neutral-variant-neutral-variant99: #fefbff;
  --material-theme-ref-neutral-variant-neutral-variant98: #faf8ff;
  --material-theme-ref-neutral-variant-neutral-variant95: #f1f0f7;
  --material-theme-ref-neutral-variant-neutral-variant90: #e2e2e9;
  --material-theme-ref-neutral-variant-neutral-variant80: #c6c6cd;
  --material-theme-ref-neutral-variant-neutral-variant70: #aaabb1;
  --material-theme-ref-neutral-variant-neutral-variant60: #909097;
  --material-theme-ref-neutral-variant-neutral-variant50: #76777d;
  --material-theme-ref-neutral-variant-neutral-variant40: #5d5e64;
  --material-theme-ref-neutral-variant-neutral-variant35: #515258;
  --material-theme-ref-neutral-variant-neutral-variant30: #45464c;
  --material-theme-ref-neutral-variant-neutral-variant25: #3a3b41;
  --material-theme-ref-neutral-variant-neutral-variant20: #2f3035;
  --material-theme-ref-neutral-variant-neutral-variant15: #24262b;
  --material-theme-ref-neutral-variant-neutral-variant10: #1a1b20;
  --material-theme-ref-neutral-variant-neutral-variant5: #0f1116;
  --material-theme-ref-neutral-variant-neutral-variant0: #000000;
  --material-theme-success-color-seed: #00b894;
  --material-theme-success-color-value: #00b894;
  --material-theme-success-role-color: #00b894;
  --material-theme-success-role-on-color: #ffffff;
  --material-theme-success-role-color-container: #c4fff2;
  --material-theme-success-role-on-color-container: #002a20;
  --material-theme-warning-color-seed: #f1c40f;
  --material-theme-warning-color-value: #f1c40f;
  --material-theme-warning-color-warning-role-color: #f1c40f;
  --material-theme-warning-color-warning-role-on-color: #ffffff;
  --material-theme-warning-color-warning-role-color-container: #fff0b8;
  --material-theme-warning-color-warning-role-on-color-container: #4a3b00;

  /* Fonts */
  --headline-18px-font-family: Roboto-Medium, sans-serif;
  --headline-18px-font-size: 18px;
  --headline-18px-line-height: normal;
  --headline-18px-font-weight: 500;
  --headline-18px-font-style: normal;
  --regular-variant-display-display-large-font-family: Roboto-Regular, sans-serif;
  --regular-variant-display-display-large-font-size: 56px;
  --regular-variant-display-display-large-line-height: 64px;
  --regular-variant-display-display-large-font-weight: 400;
  --regular-variant-display-display-large-font-style: normal;
  --regular-variant-display-display-medium-font-family: Roboto-Regular, sans-serif;
  --regular-variant-display-display-medium-font-size: 45px;
  --regular-variant-display-display-medium-line-height: 64px;
  --regular-variant-display-display-medium-font-weight: 400;
  --regular-variant-display-display-medium-font-style: normal;
  --regular-variant-display-display-small-font-family: Roboto-Regular, sans-serif;
  --regular-variant-display-display-small-font-size: 36px;
  --regular-variant-display-display-small-line-height: 44px;
  --regular-variant-display-display-small-font-weight: 400;
  --regular-variant-display-display-small-font-style: normal;
  --regular-variant-headline-headline-large-font-family: Roboto-Regular, sans-serif;
  --regular-variant-headline-headline-large-font-size: 32px;
  --regular-variant-headline-headline-large-line-height: 40px;
  --regular-variant-headline-headline-large-font-weight: 400;
  --regular-variant-headline-headline-large-font-style: normal;
  --regular-variant-headline-headline-medium-font-family: Roboto-Regular, sans-serif;
  --regular-variant-headline-headline-medium-font-size: 28px;
  --regular-variant-headline-headline-medium-line-height: 36px;
  --regular-variant-headline-headline-medium-font-weight: 400;
  --regular-variant-headline-headline-medium-font-style: normal;
  --regular-variant-headline-headline-small-font-family: Roboto-Regular, sans-serif;
  --regular-variant-headline-headline-small-font-size: 24px;
  --regular-variant-headline-headline-small-line-height: 32px;
  --regular-variant-headline-headline-small-font-weight: 400;
  --regular-variant-headline-headline-small-font-style: normal;
  --regular-variant-title-title-large-font-family: Roboto-Regular, sans-serif;
  --regular-variant-title-title-large-font-size: 22px;
  --regular-variant-title-title-large-line-height: 28px;
  --regular-variant-title-title-large-font-weight: 400;
  --regular-variant-title-title-large-font-style: normal;
  --regular-variant-title-title-medium-font-family: Roboto-Regular, sans-serif;
  --regular-variant-title-title-medium-font-size: 16px;
  --regular-variant-title-title-medium-line-height: 24px;
  --regular-variant-title-title-medium-font-weight: 400;
  --regular-variant-title-title-medium-font-style: normal;
  --regular-variant-title-title-small-font-family: Roboto-Regular, sans-serif;
  --regular-variant-title-title-small-font-size: 14px;
  --regular-variant-title-title-small-line-height: 20px;
  --regular-variant-title-title-small-font-weight: 400;
  --regular-variant-title-title-small-font-style: normal;
  --regular-variant-body-body-large-font-family: Roboto-Regular, sans-serif;
  --regular-variant-body-body-large-font-size: 16px;
  --regular-variant-body-body-large-line-height: 24px;
  --regular-variant-body-body-large-font-weight: 400;
  --regular-variant-body-body-large-font-style: normal;
  --regular-variant-body-body-medium-font-family: Roboto-Regular, sans-serif;
  --regular-variant-body-body-medium-font-size: 14px;
  --regular-variant-body-body-medium-line-height: 20px;
  --regular-variant-body-body-medium-font-weight: 400;
  --regular-variant-body-body-medium-font-style: normal;
  --regular-variant-body-body-small-font-family: Roboto-Regular, sans-serif;
  --regular-variant-body-body-small-font-size: 12px;
  --regular-variant-body-body-small-line-height: 16px;
  --regular-variant-body-body-small-font-weight: 400;
  --regular-variant-body-body-small-font-style: normal;
  --regular-variant-label-label-large-font-family: Roboto-Regular, sans-serif;
  --regular-variant-label-label-large-font-size: 14px;
  --regular-variant-label-label-large-line-height: 20px;
  --regular-variant-label-label-large-font-weight: 400;
  --regular-variant-label-label-large-font-style: normal;
  --regular-variant-label-label-medium-font-family: Roboto-Regular, sans-serif;
  --regular-variant-label-label-medium-font-size: 12px;
  --regular-variant-label-label-medium-line-height: 16px;
  --regular-variant-label-label-medium-font-weight: 400;
  --regular-variant-label-label-medium-font-style: normal;
  --regular-variant-label-label-small-font-family: Roboto-Regular, sans-serif;
  --regular-variant-label-label-small-font-size: 11px;
  --regular-variant-label-label-small-line-height: 16px;
  --regular-variant-label-label-small-font-weight: 400;
  --regular-variant-label-label-small-font-style: normal;
  --medium-variant-display-display-large-font-family: Roboto-Medium, sans-serif;
  --medium-variant-display-display-large-font-size: 56px;
  --medium-variant-display-display-large-line-height: 64px;
  --medium-variant-display-display-large-font-weight: 500;
  --medium-variant-display-display-large-font-style: normal;
  --medium-variant-display-display-medium-font-family: Roboto-Medium, sans-serif;
  --medium-variant-display-display-medium-font-size: 45px;
  --medium-variant-display-display-medium-line-height: 64px;
  --medium-variant-display-display-medium-font-weight: 500;
  --medium-variant-display-display-medium-font-style: normal;
  --medium-variant-display-display-small-font-family: Roboto-Medium, sans-serif;
  --medium-variant-display-display-small-font-size: 36px;
  --medium-variant-display-display-small-line-height: 44px;
  --medium-variant-display-display-small-font-weight: 500;
  --medium-variant-display-display-small-font-style: normal;
  --medium-variant-headline-headline-large-font-family: Roboto-Medium, sans-serif;
  --medium-variant-headline-headline-large-font-size: 32px;
  --medium-variant-headline-headline-large-line-height: 40px;
  --medium-variant-headline-headline-large-font-weight: 500;
  --medium-variant-headline-headline-large-font-style: normal;
  --medium-variant-headline-headline-medium-font-family: Roboto-Medium, sans-serif;
  --medium-variant-headline-headline-medium-font-size: 28px;
  --medium-variant-headline-headline-medium-line-height: 36px;
  --medium-variant-headline-headline-medium-font-weight: 500;
  --medium-variant-headline-headline-medium-font-style: normal;
  --medium-variant-headline-headline-smalll-font-family: Roboto-Medium, sans-serif;
  --medium-variant-headline-headline-smalll-font-size: 24px;
  --medium-variant-headline-headline-smalll-line-height: 32px;
  --medium-variant-headline-headline-smalll-font-weight: 500;
  --medium-variant-headline-headline-smalll-font-style: normal;
  --medium-variant-title-title-large-font-family: Roboto-Medium, sans-serif;
  --medium-variant-title-title-large-font-size: 22px;
  --medium-variant-title-title-large-line-height: 28px;
  --medium-variant-title-title-large-font-weight: 500;
  --medium-variant-title-title-large-font-style: normal;
  --medium-variant-title-title-medium-font-family: Roboto-Medium, sans-serif;
  --medium-variant-title-title-medium-font-size: 16px;
  --medium-variant-title-title-medium-line-height: 24px;
  --medium-variant-title-title-medium-font-weight: 500;
  --medium-variant-title-title-medium-font-style: normal;
  --medium-variant-title-title-small-font-family: Roboto-Medium, sans-serif;
  --medium-variant-title-title-small-font-size: 14px;
  --medium-variant-title-title-small-line-height: 20px;
  --medium-variant-title-title-small-font-weight: 500;
  --medium-variant-title-title-small-font-style: normal;
  --medium-variant-body-body-large-font-family: Roboto-Medium, sans-serif;
  --medium-variant-body-body-large-font-size: 16px;
  --medium-variant-body-body-large-line-height: 24px;
  --medium-variant-body-body-large-font-weight: 500;
  --medium-variant-body-body-large-font-style: normal;
  --medium-variant-body-body-medium-font-family: Roboto-Medium, sans-serif;
  --medium-variant-body-body-medium-font-size: 14px;
  --medium-variant-body-body-medium-line-height: 20px;
  --medium-variant-body-body-medium-font-weight: 500;
  --medium-variant-body-body-medium-font-style: normal;
  --medium-variant-body-body-small-font-family: Roboto-Medium, sans-serif;
  --medium-variant-body-body-small-font-size: 12px;
  --medium-variant-body-body-small-line-height: 16px;
  --medium-variant-body-body-small-font-weight: 500;
  --medium-variant-body-body-small-font-style: normal;
  --medium-variant-label-label-large-font-family: Roboto-Medium, sans-serif;
  --medium-variant-label-label-large-font-size: 14px;
  --medium-variant-label-label-large-line-height: 20px;
  --medium-variant-label-label-large-font-weight: 500;
  --medium-variant-label-label-large-font-style: normal;
  --medium-variant-label-label-medium-font-family: Roboto-Medium, sans-serif;
  --medium-variant-label-label-medium-font-size: 12px;
  --medium-variant-label-label-medium-line-height: 16px;
  --medium-variant-label-label-medium-font-weight: 500;
  --medium-variant-label-label-medium-font-style: normal;
  --medium-variant-label-label-small-font-family: Roboto-Medium, sans-serif;
  --medium-variant-label-label-small-font-size: 11px;
  --medium-variant-label-label-small-line-height: 16px;
  --medium-variant-label-label-small-font-weight: 500;
  --medium-variant-label-label-small-font-style: normal;
  --bold-variant-display-display-large-font-family: Roboto-Bold, sans-serif;
  --bold-variant-display-display-large-font-size: 56px;
  --bold-variant-display-display-large-line-height: 64px;
  --bold-variant-display-display-large-font-weight: 700;
  --bold-variant-display-display-large-font-style: normal;
  --bold-variant-display-display-medium-font-family: Roboto-Bold, sans-serif;
  --bold-variant-display-display-medium-font-size: 45px;
  --bold-variant-display-display-medium-line-height: 64px;
  --bold-variant-display-display-medium-font-weight: 700;
  --bold-variant-display-display-medium-font-style: normal;
  --bold-variant-display-display-small-font-family: Roboto-Bold, sans-serif;
  --bold-variant-display-display-small-font-size: 36px;
  --bold-variant-display-display-small-line-height: 44px;
  --bold-variant-display-display-small-font-weight: 700;
  --bold-variant-display-display-small-font-style: normal;
  --bold-variant-headline-headline-large-font-family: Roboto-Bold, sans-serif;
  --bold-variant-headline-headline-large-font-size: 32px;
  --bold-variant-headline-headline-large-line-height: 40px;
  --bold-variant-headline-headline-large-font-weight: 700;
  --bold-variant-headline-headline-large-font-style: normal;
  --bold-variant-headline-headline-medium-font-family: Roboto-Bold, sans-serif;
  --bold-variant-headline-headline-medium-font-size: 28px;
  --bold-variant-headline-headline-medium-line-height: 36px;
  --bold-variant-headline-headline-medium-font-weight: 700;
  --bold-variant-headline-headline-medium-font-style: normal;
  --bold-variant-headline-headline-small-font-family: Roboto-Bold, sans-serif;
  --bold-variant-headline-headline-small-font-size: 24px;
  --bold-variant-headline-headline-small-line-height: 32px;
  --bold-variant-headline-headline-small-font-weight: 700;
  --bold-variant-headline-headline-small-font-style: normal;
  --bold-variant-title-title-large-font-family: Roboto-Bold, sans-serif;
  --bold-variant-title-title-large-font-size: 22px;
  --bold-variant-title-title-large-line-height: 28px;
  --bold-variant-title-title-large-font-weight: 700;
  --bold-variant-title-title-large-font-style: normal;
  --bold-variant-title-title-medium-font-family: Roboto-Bold, sans-serif;
  --bold-variant-title-title-medium-font-size: 16px;
  --bold-variant-title-title-medium-line-height: 24px;
  --bold-variant-title-title-medium-font-weight: 700;
  --bold-variant-title-title-medium-font-style: normal;
  --bold-variant-title-title-small-font-family: Roboto-Bold, sans-serif;
  --bold-variant-title-title-small-font-size: 14px;
  --bold-variant-title-title-small-line-height: 20px;
  --bold-variant-title-title-small-font-weight: 700;
  --bold-variant-title-title-small-font-style: normal;
  --bold-variant-body-body-large-font-family: Roboto-Bold, sans-serif;
  --bold-variant-body-body-large-font-size: 16px;
  --bold-variant-body-body-large-line-height: 24px;
  --bold-variant-body-body-large-font-weight: 700;
  --bold-variant-body-body-large-font-style: normal;
  --bold-variant-body-body-medium-font-family: Roboto-Bold, sans-serif;
  --bold-variant-body-body-medium-font-size: 14px;
  --bold-variant-body-body-medium-line-height: 20px;
  --bold-variant-body-body-medium-font-weight: 700;
  --bold-variant-body-body-medium-font-style: normal;
  --bold-variant-body-body-small-font-family: Roboto-Bold, sans-serif;
  --bold-variant-body-body-small-font-size: 12px;
  --bold-variant-body-body-small-line-height: 16px;
  --bold-variant-body-body-small-font-weight: 700;
  --bold-variant-body-body-small-font-style: normal;
  --bold-variant-label-label-large-font-family: Roboto-Bold, sans-serif;
  --bold-variant-label-label-large-font-size: 14px;
  --bold-variant-label-label-large-line-height: 20px;
  --bold-variant-label-label-large-font-weight: 700;
  --bold-variant-label-label-large-font-style: normal;
  --bold-variant-label-label-medium-font-family: Roboto-Bold, sans-serif;
  --bold-variant-label-label-medium-font-size: 12px;
  --bold-variant-label-label-medium-line-height: 16px;
  --bold-variant-label-label-medium-font-weight: 700;
  --bold-variant-label-label-medium-font-style: normal;
  --bold-variant-label-label-small-font-family: Roboto-Bold, sans-serif;
  --bold-variant-label-label-small-font-size: 11px;
  --bold-variant-label-label-small-line-height: 16px;
  --bold-variant-label-label-small-font-weight: 700;
  --bold-variant-label-label-small-font-style: normal;

  /* Effects */

}

